.teacherTable {
  border-collapse: collapse;
}

.teacherTable th,
.teacherTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.teacherTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.teacherTable tr:hover {
  cursor: pointer;
  background-color: gainsboro;
}
